$height:50px;
.menu_wrapper{
    height: $height;
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    transition: .3s;
    z-index: 9999;
    .logo_wrapper{
        width: 90%;
        height: $height;
        display: flex;
        align-items: center;
        justify-content:space-between;
        // border: 1px solid #ff0028;
        margin:0 auto;
        img{
            width: 120px;
        }
        .drag{
            height: 50px;
            width: 50px;
             display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;;
            div{
                height: 2px;
                width: 30px;
                background: #fff;
                margin: 2px 0px;
            }
        }
    }
}

.back{
    background: #000;
    border: none;
}